<div class="game-card">
    <h3>{{game.titol | uppercase}}</h3>
    <img src="{{game.imatgeUrl}}" alt="{{game.titol}}">
    <p><strong>Categoria: </strong> {{game.categoria}}</p>
    <p><strong>Descripción: </strong>{{game.descripcio}}</p>
    <p><strong>Número de jugadores: </strong> {{formatPlayers(game)}}</p>
    <p><strong>Precio: </strong> {{game.preu}}</p>
    <p><strong>Stock: </strong> {{game.unitats}}</p>
    @if (game.arxiu && game.arxiu.length > 0) {
    <div class="play-history">
        <strong>Victorias:</strong>
        <ul>
            @for (session of game.arxiu.slice(-2); track $index) {
            <li>{{ session }}</li>
            }
        </ul>

        @if (game.arxiu.length > 2) {
        <small>... y {{ game.arxiu.length - 2 }} más</small>
        }
    </div>
    }

</div>