<div class="element-card">
    <img [src]="game.imatgeUrl" [alt]="game.titol" class="element-imatge">
    <div class="element-info">
        <h3 class="element-nom">{{ game.titol }}</h3>
        <p class="element-categoria">{{ game.categoria }}</p>
        <p class="element-descripcio">{{ game.descripcio }}</p>
        
        <div class="element-detalls">
            <p><strong>Jugadors:</strong> {{ formatPlayers(game) }}</p>
            <div class="play-history" *ngIf="game.arxiu && game.arxiu.length > 0">
                <strong>Últimes partides:</strong>
                <ul>
                    <li *ngFor="let session of game.arxiu.slice(-2)">{{ session }}</li>
                </ul>
            </div>
        </div>

        <div class="element-footer">
            <span class="element-preu">{{ game.preu | number:'1.2-2' }}€</span>
            <span class="element-stock" [class.baix-stock]="game.unitats < 20">
                Stock: {{ game.unitats }}
            </span>
        </div>
    </div>
</div>