<form #searchForm="ngForm" (ngSubmit)="onSearch()" novalidate>
  <div class="search-group">
    <label for="search-input" class="sr-only">Busca un juego de mi lista: </label>
    <input
    id="search input"
    type="text"
    name="search"
    [(ngModel)]="searchTerm"
    required
    minlength="3"
    #searchModel="ngModel"
    placeholder="Busca un juego de mi lista"
    (input)="onSearch()"
    [attr.aria-invalid]="searchModel.invalid && searchModel.touched"
    aria-describedby="search-error"
    >
    
    <div 
    id="search-error"
    aria-live="polite"
    *ngIf="searchModel.invalid && (searchModel.dirty || searchModel.touched)" 
    class="error-msg"
    >
      <small *ngIf="searchModel.errors?.['minlength']">Introduce al menos tres letras</small>
      <small *ngIf="searchModel.errors?.['required']">El campo no puede estar vacío</small>
    </div>
    <button type="submit" [disabled]="searchForm.invalid">Buscar</button>
  </div>
</form>